<!-- Debug Information -->
start: {{startDateTime.format()}} <br/>
curr month: {{currentMonth}} <br/>
last day of curr month: {{lastDayOfMonth}} <br/>
picked datetime: {{pickedDateTime.format()}} <br/>
picked date: {{pickedDateTime.date()}} <br/>
picked year: {{pickedYear}} <br/>

<!-- The datepicker itself -->
<div class="datepicker-container">

    <!-- Month and Year Controls -->
    <div class="year-month-container" >

        <!-- Month -->
        <div class="year-month-container__row" >
            <button class="time-crement" (click)="changeMonth(-1)" > < </button>
            <!--<span> {{pickedDateTime.format('MMMM')}} </span>-->
            <select [(ngModel)]="currentMonth" (ngModelChange)="setSpecificMonth($event)" >
                <option *ngFor="let month of months; let i = index" [value]="i" > {{month}} </option>
            </select>
            <button class="time-crement" (click)="changeMonth(1)"> > </button>
        </div>
        <!-- Year -->
        <div class="year-month-container__row" >
            <button class="time-crement" (click)="changeYear(-1)" > < </button>
            <input 
                type="number"
                [value]="pickedYear"
                name="yearInput"
                [formControl]="yearChangeControl"
                [max]="maxDateTime.year()"
                [min]="minDateTime.year()"
                step="1"
            /> 
            <button class="time-crement" (click)="changeYear(1)"> > </button>
        </div>
    </div>

    <!-- The current Month Display -->
    <div 
        class="datepicker-container datepicker-container--date"
        [ngClass]="{'datepicker-container--date--chosen': isCurrentDate(day.date())}"
        *ngFor="let day of monthArray"
        (click)="pickDate(day.date())"
     >
        {{day.date()}}
    </div>

    <!-- Timepicker -->
    <div class="timepicker-container">
        <app-timepicker [dateTime]="pickedDateTime" ></app-timepicker>
    </div>

</div>

