/* You can add global styles to this file, and also import other style files */
.time-crement {
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
        color: blue;
    }
}