<div class="time-container">
    <div class="input-container">
        <button (click)="incrementHour()" class="time-crement" type="button">+</button>
        <input 
            class="time-input" 
            type="number" 
            name="hourChange"
            [value]="currentHour"
            [formControl]="hourChangeControl"
            step="1" 
            min="0" 
            max="23" 
        >
        <button (click)="decrementHour()" class="time-crement" type="button">-</button>
    </div>
    <span>:</span>
    <div class="input-container" >
        <button (click)="incrementMinute()" class="time-crement" type="button" >+</button>
        <input 
            class="time-input" 
            type="number" 
            name="minChange"
            id="minInput"
            [value]="currentMin"
            [formControl]="minChangeControl"      
            step="1" 
            min="0" 
            max="59"
        >
        <!--(ngModelChange)="changeMinute($event)" -->
        <button (click)="decrementMinute()" class="time-crement" type="button">-</button>
    </div>
</div>
